/* ------ General Page Styles ------ */
html,body {
	font-size: 14px;
  font-family: 'Open Sans' sans-serif !important;
	overflow: none !important;	
	width: 100%;
	height: 100%;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-html-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;


}



h2 {
  font-size: 27px !important;
  margin-top: 0px !important;
  margin-bottom: 10px !important;
}


h3 {
	font-size: 20px;
	font-weight: 600;
	color: #555 !important;
	text-align: center !important;
}

button {
	border-radius: 5px;
	font-weight: 400 !important;
}

dl, dd, dt{
    margin:0;
}


/* -------- Tables -------- */


.table_specification{
    display: table;
    width: 80%;
    overflow:hidden;
}

.table_specification dl{    
    display:table-row;  
}

.table_specification dt, .table_specification dd{
    display: table-cell;
    width:30%;
}

.table_specification dd{
	text-align:right;
}

/* Filter Labels by #Grants */

.filter-section {
  padding-top:5px;
  display: block;
  z-index: 40;
  text-align: center;
  position: fixed;
  left: 40%;
  transform: translate(-40%, 0);
}


#filterLabel {
  
  font-weight: 600;
  font-size: 16px;
}

.irs.js-irs-0{
  width: 300px;
}

.irs-min,
.irs-max {
  color: rgba(0, 0, 0, 0.87) !important;
  font-size: 14px;
  line-height: 1.5 !important;
  text-shadow: none;
  padding: 1px 3px;
  background: #e1e4e9;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.irs-grid-text {
  color: rgba(0, 0, 0, 0.87) !important;
  top: 21px !important;
  font-size: 14px !important;
}

.irs-from {
  color: #fff !important;
  font-size: 14px !important;
  line-height: 1.333;
  text-shadow: none;
  padding: 1px 5px;
  background: #9bcc57;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.irs-min {
  font-size: 14px !important;
}

.irs-to {
  font-size: 14px !important;
}

.irs-max {
  font-size: 14px !important;
}

.popup {
    z-index: 10001;
    background: white;
    font-family: 'Open Sans' sans-serif !important;
    font-size: 16px;
    outline: solid;
    outline-width: .125px;
    outline-color: lightgrey;
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 250px;
/*    font-weight: 300;*/
    /*  height:280px;*/
    /*justify-content: space-between;*/
    display: flex;
    width: 1000px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.22);
    overflow: hidden;
}


.table {
    margin-bottom: 25px;
    width: inherit;
}

#popup-table-container {
  /*  overflow: scroll;*/
}

#popup-table-no-records {
    display: none;
}

#popup-table-container.default {
    display: none;

}
thead {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background: #222;
    color: #d6d9d8;
    width: inherit;
}

tbody {
    display: block;
    width: inherit;
    overflow-y: scroll;
    height: 160px;
}

.prosym-popup tbody {
    max-height: 140px;
}


td {
    padding: 5px !important;
}

thead > tr,
tbody > tr,
tfoot > tr {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

thead {
}

th {
    font-weight: normal !important;
    color: white;
    padding: 8px 5px;
}

thead,
tfoot {
    flex-shrink: 0;
}

th,
tbody td {
    width: 100%;
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    text-align:left;
}

tfoot {
    display: inline-block;
}

tfoot td {
    width: 100%;
    display: inline-block;
}

.table>tbody>tr:nth-child(odd)>td,
.table>tbody>tr:nth-child(odd)>th {
    background-color: #eaeaea;
}


/*Force network legends*/
#nodes{
  text-align: left;
  padding: 7px 11px;
}

#nodeFill{
 text-align: left;
  padding: 7px 11px;
}

#nodeOutline{
 text-align: left;
  padding: 7px 11px;
}

#edges{
  text-align: left;
  padding: 7px 11px;
}
.container h3 {
  font-weight: 400;
  font-size: 18px;
  background-color: #fff;
  color: #222 !important;
  
  margin: 0px;
}

.legend-row {
  top: 0px;
  background: #fff;
/*  border: 1px solid #222;*/
  border: .5px solid #afafaf;
  padding: 5px 0px 10px 2px;
}


.legend-item {
  background: #fefefe;
  height: 150px;
  width: 150px;
  padding: 1px;
}

.legend-item-label {
  background: white;
  font-family: 'Open Sans', sans-serif !important; 
  text-transform: capitalize;
  font-weight: 600;
  margin-right: 15px;
}


/*
.legend-space {
  margin: 0 auto;
  display: block;
  width: 100%;
}*/

.table>thead>tr>th {
    border-bottom: 0px transparent !important;
}

.legend-container {
  width: 600px;
  z-index: 10000;
  text-align: center;
  /*height: 500px;*/
  font-size: 16px;
  color: #000;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  display: block;
  text-align: center;
  position: fixed;
  bottom: -210px;
  left: 40%;
  transform: translate(-40%, 0);
}

.coauthor.legend.legend-container {
    width: 770px;
  z-index: 10000;
  text-align: center;
  /*height: 500px;*/
  font-size: 16px;
  color: #000;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  display: block;
  text-align: center;
  position: fixed;
  bottom: -210px;
  left: 40%;
  transform: translate(-40%, 0);
}

.scimap-legend {
  width: 620px;
  z-index: 10000;
  font-size: 18px;
  color: #000;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  text-align: center;
  position: fixed;
  bottom: -196px;
  left: 50%;
  transform: translate(-50%, 0);
}


.scimap-legend button {
  display: inline-block;
/*  position: relative;*/
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif !important;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  background: #eaeaea;
  color: rgba(0,0,0,0.87);
  border: .5px solid #afafaf;
  border-radius: 2px;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;

}

.scimap-legend button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.scimap-legend button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.scimap-legend button:hover span {
  padding-right: 25px;
}

.scimap-legend button:hover span:after {
  opacity: 1;
  right: 0;
}
.scimap-legend button:hover {
  background-color: #d8d8d8; /* blue color */
}


.prosym.legend.legend-container {
  width: 160px;
  z-index: 10000;
  text-align: center;
  /*height: 500px;*/
  font-size: 18px;
  color: #000;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  display: block;
  text-align: center;
  position: fixed;
  bottom: -210px;
  left: 50%;
  transform: translate(-40%, 0);
}


.legend-container button {
  display: inline-block;
/*  position: relative;*/
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif !important;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  background: #eaeaea;
  color: rgba(0,0,0,0.87);
  border: .5px solid #afafaf;
  border-radius: 2px;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;

}

.legend-container button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.legend-container button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.legend-container button:hover span {
  padding-right: 25px;
}

.legend-container button:hover span:after {
  opacity: 1;
  right: 0;
}

.legend-container button:hover {
  background-color: #d8d8d8; /* blue color */
}

#backgroundChange{
  position: absolute;
   z-index: 10;
  top: 40px;
  left: 10px;
}


#downloadSVG{
  position:absolute;
  z-index: 10;
  top:80px;
 left:10px;
 background-color: #FF6600 ;
 color:white;
}

#toggleUS{
  position:absolute;
  z-index: 100000;
  top:1px;
 left:10px;
 background-color: grey ;
 color:white;
}


#flexcanvas{
  width: 100%;
  height: 600px !important;
}

.rowParent, .columnParent{
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.columnParent{
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flexChild{
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}


#rowChild18007{
 -webkit-box-flex: 4;
 -webkit-flex-grow: 4;
 -ms-flex-positive: 4;
 flex-grow: 4;
}
#projection_map
{
  position: relative;
  width:100%;
  height: 100%;
  bottom:400px;
  
}

/* -------- Modal Window -----------*/
.modal-dialog{
    width: 1000px;
    margin: auto;
    top: 90px;
}  
.modal-content tbody {
    height: 550px;
}

.table {
    margin-bottom: 0px;
}
#scimapAbout{
    position: absolute;
    left: 10px;
    top:120px;
    z-index: 10;
}

h2 {
    font-weight: 400 !important;
    font-size: 27px !important;
}

h3 {
    font-weight: 400 !important;
    font-size: 21px !important;
    color: #333 !important;
    margin-top: 0px !important;
}

#aboutTable {
    margin-bottom: 0px;
}

.table-bordered>thead>tr>th {
    border: 0px solid #ddd; 

#circle{
z-index: 1;
}

#rightClick{
z-index: 2;

}

