 <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content " >
        <div class="modal-header modal-header-info">
          <button type="button" class="close" data-dismiss="modal" >&times;</button>
          <h4 class="modal-title">Interface Operations</h4>
        </div>
        <div class="modal-body">
             <table id="aboutTable" class="table table-bordered table-hover"  >
          <thead>

          </thead>
          <tbody>
            <tr>
              <th>Operation</th>
              <th>Description</th>
            </tr>
             <tr>
            <td>
            <img src="images/circle.png" alt="Node" height="50" width="50" id="circle">
            <img src="images/leftClick.png" alt="Right Click" height="42" width="42" id="rightClick">
            </td>
            <td>
            Selects the node, highlights its connections, opens the publication popup and the corresponding entry in bar graph.
            </td>
            </tr>
            <tr>
            <td>
            <img src="images/barGraph.png" alt="barGraph" height="50" width="50" id="barGraph">
            <img src="images/leftClick.png" alt="Left Click" height="42" width="42" id="rightClick">
            </td>
            <td>
            Selects the bar graph entry, corresponding node in network, its publication popup and its connections.
            </td>
            </tr>
            <tr>
            <td>
            <img src="images/circle.png" alt="barGraph" height="50" width="50" id="circle">
            <img src="images/mouseover.png" alt="Right Click" height="42" width="42" id="mouseover">
            </td>
            <td>
            Highlights the node, its connections and corresponding bar-graph entry.
            </td>
            </tr>
            <tr>
            <td>
            <img src="images/barGraph.png" alt="barGraph" height="50" width="50" id="barGraph">
            <img src="images/mouseover.png" alt="Right Click" height="42" width="42" id="mouseover">
            </td>
            <td>
            Highlights the bar-graph entry, its corresponding node in the network and its connections
            </td>
            </tr>
            <tr>
            <td>
            <img src="images/circle.png" alt="Node" height="50" width="50" id="circle">
            <img src="images/rightclick.png" alt="Right Click" height="42" width="42" id="rightClick">
            </td>
            <td>
            Produces a color-picker button for color selection of the node.
            </td>
            </tr>
                <tr>
            <td>
           
            <img src="images/slider.png" alt="Right Click" height="42" width="42" id="slider">
               <img src="images/leftClick.png" alt="Right Click" height="42" width="42" id="rightClick">
            </td>
            <td>
            Filter node labels
            </td>
            </tr>
               <tr>
            <td>
           
            <img src="images/scroll.png" alt="Right Click" height="42" width="42" id="scroll">

            </td>
            <td>
            Zoom In/Out
            </td>
            </tr>
         
                <tr>
            <td>
           <img src="images/screen.png" alt="Right Click" height="42" width="42" id="screen">
            <img src="images/leftClick.png" alt="Right Click" height="42" width="42" id="leftClick">
               
            </td>
            <td>
            Clears the color-picker and/or publication popup.
            </td>
            </tr>

                <tr>
            <td>
           <img src="images/screen.png" alt="Right Click" height="42" width="42" id="screen">
            <img src="images/doubleClick.png" alt="Right Click" height="42" width="42" id="doubleClick">
               
            </td>
            <td>
            Zoom in 
            </td>
            </tr>

          
          </tbody>
        </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>