
    <!-- Modal -->
    <div class="modal fade" id="coauthorAboutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-header-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h1><i class="glyphicon glyphicon-thumbs-up"></i> Co-authorship Network Visualization</h1>
                </div>
                <div class="modal-body">
                	This interactive visualization shows the collaboration network based on co-authorship relations extracted from the bibtex file. It helps identify clusters of authors that collaborate frequently; to detect those authors that serve as gatekeepers by interconnecting different clusters; understand the backbone of strong co-author linkages that likely serve as main collaboration and knowledge diffusion pathways. 
                	<br>
                	<ul>
                		<li>Each node represents an author.</li>
                		<li>Two authors are connected if they have authored a paper together.</li>
                		<li>Fill color denotes the year of first publication.</li>
                		<li>Node outline color indicates author type (student, faculty, post-doc, staff, other)</li>	
                		<li>Node size and label size denote the number of papers authored.</li>
                		<li>Edge thickness denotes the number of times two authors appeared on a paper together.</li>
                		<li>The horizontal bar graph on the right shows the number of papers per author. </li>
                		
                		<li>The legend details how the information is being encoded.
                		</li>
                	</ul>	
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- Modal -->