
    <!-- Modal -->
    <div class="modal fade" id="geomapAboutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-header-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h1>Co-authorship Geospatial Visualization</h1>
                </div>
                <div class="modal-body">
                	This interactive visualization shows the co-authorship network overlaid on a geospatial map of the world.  
                	<br>
                	<br>
                	<ul>
                		<li>Each node represents an author.</li>
                		<li>Two authors are connected if they have authored a paper together.</li>
                		<li>Circle area sizes encode the number of links per node, also called node degree.</li>
                		<li>Horizontal bar-graph aids in better understanding of data.
                		</li>
                        <li>
                          The legend details how the information being encoded.  
                        </li>
                	</ul>	
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- Modal -->