  <!-- Modal -->
  <div class="modal fade" id="warningModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content " >
        <div class="modal-header modal-header-warning">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Warning - Incomplete Data</h4>
        </div>
        <div class="modal-body" id="warningContent">
          <p>Please return to the upload page and update address field for the following authors to produce a more accurate visualization.
          </p>
          <div id="authorDetails">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
 