
    <!-- Modal -->
    <div class="modal fade" id="scimapAboutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-header-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h1>Science Map Visualization</h1>
                </div>
                <div class="modal-body">
                	This interactive map supports the exploration of expertise profiles for a researcher, center, department, or university
                    overlaid on a science map so that outliers, clusters, and trends can be discerned. 
                	<br>
                	<br>
                	<ul>
                		<li>554 subdisciplines of science are shown, aggregated into 13 color-coded, labelled disciplines. </li>
                		<li>Each circle denotes a subdiscipline.</li>
                		<li>Circle area sizes are proportional to the number of papers published per subdiscipline. </li>
                		<li>The legend details how the information is being encoded.
                		</li>
                	</ul>	
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- Modal -->