/* --------- General Styles -------------- */

.container {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.container h3 {
	font-weight: 400;
    font-size: 18px;
	background-color: #eaeaea;
	color: #222 !important;
    padding: 5px;
    margin: 0px;
}


/* ======================================= 
 ============= Left Column ===============
 =========================================  */

.left-column {
	height: 500px;
	flex-direction: column;
	width: 75%;
}

/* --------- Main Vis Area -------------- */

.main-vis {
	min-height: 800px;
	border: 1px solid #eaeaea;
}

/* ======================================= 
 ============= Right Column ===============
 =========================================  */

.right-column {
	flex-direction: column;
	border: 1px solid #eaeaea;
	width: 25%;
}

/* ---------- Bar Graph ---------------- */

.bar-graph {
	min-height: 480px;
	border: 1px solid #eaeaea;
	overflow-y: auto;
}

/* --------- Legend -------------- */

.legend {
	border: 1px solid #eaeaea;
	max-height: 300px;
	display: flex;
	margin-right: 0 !important;
}

.legend-row {

}

#item-1 {
	background: #000000;
	border: 1px solid #eaeaea;
	height: 125px;
	width: 125px;
}

#item-2 {
	background: #000000;
	border: 1px solid #eaeaea;
	height: 125px;
	width: 125px;
}

#item-3 {
	background: #000000;
	border: 1px solid #eaeaea;
	height: 125px;
	width: 125px;
}

#item-4 {
	background: #000000;
	border: 1px solid #eaeaea;
	height: 125px;
	width: 125px;
}



 