<?xml version="1.0" encoding="utf-8" ?>
<!-- Generator: Adobe Illustrator 16.0.4, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-62 -40 250 140" x="0px" y="0px" xml:space="preserve">
	<text transform="matrix(1 0 0 1 -5.292 -18.9194)" class="vis-title">Line Height</text>
	<text transform="matrix(1 0 0 1 76.8984 36.3926)" class="vis-label" id="weightedBy.mid">1</text>
	<text transform="matrix(1 0 0 1 76.8984 91.2334)" class="vis-label" id="weightedBy.min">0</text>
	<line class="edge" x1="50.638" y1="30" x2="73.630" y2="30" />
	<line class="edge" x1="50.638" y1="86" x2="73.627" y2="86" />
	<rect class="rect" width="45.995" height="69" />
	<rect class="rect" y="77.779" width="45.995" height="21" />
</svg>

