<div id="legend-item">
	<ng-include src="'partials/legend/sizedBy.html'"></ng-include>
</div>

<div class="howto" id="legend-item">
	<h3>How To Read This Visualization</h3>
	<p>This proportional symbol map shows grographically-related records in local clusters.  The area of the circles representing these cluster encodes a numerical value, eg. total funding for the area at the current level of clustering.  Area of circles for each level of clustering are the sum of the area for the clustering level below.</p>
</div>