<div id="legend-item">
	<ng-include src="'partials/legend/sizedBy.html'"></ng-include>
</div>
<div id="legend-item" class="howto-scimap">
	<h3>How To Read This Visualization</h3>
	<p>The Map of Science is a visual representation of 554 subdisciplines within 13 disciplines of science and their relationships to one another, shown as points and lines connecting those points respectively. Over top this visualization is drawn the result of mapping a dataset's journals to the underlying subdiscipline(s) those journals contain. Mapped subdisciplines are shown with size relative to the number of matching journals and color from the discipline. For more information on maps of science, see <a href="http://mapofscience.com" target="_blank">mapofscience.com</a>
	</p>
</div>