<?xml version="1.0" encoding="utf-8" ?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-62 -40 250 140" x="0px" y="0px" xml:space="preserve">
    <circle class="legend-node" cx="15.758" cy="85" r="10" />
    <circle class="legend-node" cx="15.758" cy="63" r="32" />
    <circle class="legend-node" cx="15.758" cy="49" r="46" />
    <text transform="matrix(1 0 0 1 -5.292 -18.9194)" class="vis-title">Area</text>
    <text transform="matrix(1 0 0 1 97.6172 8.4399)" class="vis-label" id="sizedBy.max">0</text>
    <text transform="matrix(1 0 0 1 97.6172 35.9883)" class="vis-label" id="sizedBy.mid">0</text>
    <text transform="matrix(1 0 0 1 97.6172 79.5)" class="vis-label" id="sizedBy.min">0</text>
    <line class="legend-edge" x1="15.766" y1="3" x2="90.232" y2="3" />
    <line class="legend-edge" x1="15.766" y1="31" x2="90.232" y2="31" />
    <line class="legend-edge" x1="15.766" y1="74.5" x2="90.232" y2="74.5" />
</svg>