<div id="legend-item">
	<ng-include src="'partials/legend/lineWeight.html'"></ng-include>
</div>
<div id="legend-item">
	<ng-include src="'partials/legend/coloredBy.html'"></ng-include>
</div>
<div class="howto" id="legend-item">
	<h3>How To Read This Visualization</h3>
	<p>This temporal bar graph visualization represents each record as a horizontal bar with a specific start and end date and a text label on its left side. The area of each bar encodes a numerical attribute value, e.g., total amount of funding. Bars may be colored to present categorical attribute values of records.</p>
</div>